.header {
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 100;

  width: 100%;
  height: 100vh;
  padding-top: 15px;

  background-position: center;
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  @include w768 {
    padding-top: 10px;

    background: transparent;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include w768 {
      flex-direction: row !important;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 90px;

    text-decoration: none;

    @include w1392 {
      margin-right: 30px;
    }

    .logo__img {
      width: 89.33px;
      height: 96.74px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/logo.png");

      overflow: hidden;
      mix-blend-mode: multiply;

      @include w768 {
        width: 46px;
        height: 50px;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }

    .logo__txt {
      margin-left: -35px;

      font-family: $font-1;
      font-weight: 500;
      font-size: 22.8326px;
      line-height: 29px;
      color: #313031;

      @include w768 {
        margin-left: -20px;

        font-size: 11.8084px;
        line-height: 15px;
      }
    }
  }

  .mobile-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include w1072 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;

      width: 360px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 100px 40px 50px;
      margin-right: -100%;

      background: #F3F2F3;

      overflow: hidden;
      overflow-y: scroll;
      transition: 0.6s ease;

      &.active {
        margin-right: 0;

        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
      }
    }

    @include w360 {
      width: 100%;
    }

    .close-btn {
      position: fixed;
      top: 40px;
      right: 30px;

      width: 20px;
      height: 20px;
      margin-right: -360px;

      background-image: url("../img/cross.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 0.6s ease;
      // opacity: 0;
      // visibility: hidden;

      @include w1072 {
        // display: block;
      }

      &.active {
        margin-right: 0;

        // visibility: visible;
        // opacity: 1;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 30px;
    margin-left: auto;

    @include w1392 {
      gap: 30px;
    }

    @include w1072 {
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      margin-right: 0;
      margin-left: 0;
    }

    .nav__link {
      font-family: $font-1;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #2B2B2B;
      text-decoration: none;

      @include w1072 {
        font-weight: 500;
        font-size: 27.919px;
        line-height: 35px;
      }
    }
  }

  .support-link {
    display: block;
    margin-left: auto;

    text-decoration: none;

    @include w1072 {
      margin-left: 0;
      padding-top: 30px;
      margin-top: 70px;
      width: 100%;

      border-top: 1px solid #1685FC;
    }

    .support-link__txt {
      display: block;

      font-family: $font-1;
      font-size: 14.7292px;
      line-height: 19px;
      color: rgba(43, 43, 43, 0.3);

      @include w1072 {
        display: none;
      }
    }

    .support-link__tel {
      margin-top: 2px;

      font-family: $font-1;
      font-weight: 500;
      font-size: 17.4073px;
      line-height: 27px;
      color: #2B2B2B;

      white-space: nowrap;

      @include w1072 {
        margin-top: 0;

        font-weight: 400;
        font-size: 28.8771px;
        line-height: 146%;
        letter-spacing: -0.02em;
      }
    }
  }

  .mail-link {
    display: none;
    margin-top: 5px;

    font-family: $font-1;
    font-size: 21.912px;
    line-height: 146%;
    letter-spacing: -0.02em;
    color: #2B2B2B;
    text-decoration: none;

    @include w1072 {
      display: block;
    }
  }

  .social-links {
    display: none;

    @include w1072 {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 15px;
    }

    .social-links__link {
      width: 26px;
      height: 26px;
      display: block;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &.social-links__link--tg {
        background-image: url("../img/tg.png");
      }

      &.social-links__link--wa {
        background-image: url("../img/wa.png");
      }
    }
  }

  .feedback-link {
    margin-left: 30px;
    flex-shrink: 0;

    line-height: 20px;
    color: #2B2B2B;

    border: 1px solid #F05C28;

    @include w1072 {
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
      margin-bottom: 100px;
    }
  }

  .mobile-tel-link {
    position: relative;

    display: none;
    padding-left: 25px;
    margin-left: auto;

    font-family: $font-1;
    font-weight: 600;
    font-size: 13.4588px;
    line-height: 14px;
    letter-spacing: -0.189561px;
    color: #222222;
    text-decoration: none;

    @include w1072 {
      display: block;
    }

    @include w360 {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 16px;
      height: 16px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/icon1.png");

      transform: translateY(-50%);
    }
  }

  .burger {
    position: relative;

    display: none;
    width: 45px;
    height: 45px;
    margin-left: 20px;

    @include w1072 {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 27px;
      height: 23px;

      background-size: contain;
      background-image: url("../img/burger.svg");
      background-repeat: no-repeat;
      background-position: center;

      transform: translateY(-50%);
    }
  }
}
