.services {
  position: relative;
  z-index: 10;

  padding-top: 115px;
  padding-bottom: 160px;
  margin-top: -20px;

  background-image: url("../img/services-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;

  @include w768 {
    padding: 60px 0 70px;
    margin-top: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -10;

    width: 100%;
    height: 860px;

    background-image: url("../img/services-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 250px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
  }

  #services {
    position: absolute;
    top: 20px;
    left: 0;

    width: 1px;
    height: 1px;

    @include w768 {
      top: 0;
    }
  }

  .title-wrapper {
    display: flex;
    gap: 160px;

    @include w992 {
      flex-direction: column;
      gap: 30px;
    }

    @include w768 {
      gap: 10px;
    }
  }

  .services-slider {
    margin-top: 80px;

    @include w768 {
      margin-top: 30px;
    }
  }

  .services-list {
    display: grid;
    grid-template-columns: 430px auto 320px;
    gap: 30px;

    @include w1392 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include w992 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include w600 {
      display: flex;
      gap: 0;
    }

    .services-list__item {
      position: relative;
      z-index: 10;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 40px;
      min-height: 280px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #FFFFFF;
      filter: drop-shadow(0px 126px 51px rgba(0, 0, 0, 0.01)) drop-shadow(0px 71px 43px rgba(0, 0, 0, 0.05)) drop-shadow(0px 32px 32px rgba(0, 0, 0, 0.09)) drop-shadow(0px 8px 17px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
      border-radius: 10px;

      overflow: hidden;

      @include w1392 {
        min-height: 430px;
      }

      @include w768 {
        padding: 30px 20px;
      }

      @include w600 {
        width: 310px;
        height: 430px;
      }

      &:nth-of-type(1) {
        grid-row: 1 / 3;

        background-image: url("../img/img1.png");
        background-position: top center;

        @include w1392 {
          grid-row: auto;
        }
      }

      &:nth-of-type(2) {
        padding-right: 200px;

        background-image: url("../img/img2.png");
        background-position: top right;

        @include w1392 {
          padding-right: 100px;
        }

        @include w600 {
          padding-right: 20px;

          background-position: top right;
          background-size: auto;
        }
      }

      &:nth-of-type(3) {
        padding-right: 220px;

        background-image: url("../img/img3.png");
        background-position: center right;

        // background: linear-gradient(75.32deg, #FEF7F7 0%, #FEFFE2 98.31%), #FFFFFF;
        // box-shadow: 0px 126px 51px rgba(0, 0, 0, 0.01), 0px 71px 43px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

        @include w1392 {
          padding-right: 120px;
        }

        @include w600 {
          padding-right: 20px;
        }

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 50%;
        //   right: 0;
        //   z-index: -10;

        //   width: 222px;
        //   height: 260px;

        //   background-image: url("../img/img3.png");
        //   background-position: center;
        //   background-size: contain;
        //   background-repeat: no-repeat;

        //   transform: translateY(-50%);

        //   @include w1392 {
        //     right: -70px;
        //   }

        //   @include w992 {
        //     top: 30%;
        //   }

        //   @include w600 {
        //     right: -30px;

        //     height: 200px;
        //   }
        // }
      }

      &:nth-of-type(4) {
        z-index: 10;

        grid-column: 3 / 4;
        grid-row: 1 / 3;

        background-image: url("../img/img4.png");
        background-position: center top;

        @include w1392 {
          grid-column: auto;
          grid-row: auto;
        }

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 50px;
        //   left: 50%;
        //   z-index: -10;

        //   width: 148px;
        //   height: 284px;

        //   background-image: url("../img/img4.png");
        //   background-position: center;
        //   background-size: contain;
        //   background-repeat: no-repeat;

        //   transform: translateX(-50%);

        //   @include w1392 {
        //     top: -20px;

        //     transform: translateX(-50%) scale(0.6);
        //   }

        //   @include w992 {
        //     top: -20px;

        //     transform: translateX(-50%) scale(0.7);
        //   }
        // }

        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 50%;
        //   z-index: -20;

        //   width: 318px;
        //   height: 400px;

        //   background-image: url("../img/img5.png");
        //   background-position: center;
        //   background-size: contain;
        //   background-repeat: no-repeat;

        //   transform: translateX(-50%);

        //   @include w1392 {
        //     top: -73px;

        //     transform: translateX(-50%) scale(0.6);
        //   }

        //   @include w992 {
        //     transform: translateX(-50%) scale(0.7);
        //   }

        //   @include w600 {
        //     content: none;
        //   }
        // }
      }

      &:nth-of-type(5) {
        background-image: url("../img/img6.png");
        background-position: top right;
      }

      &:nth-of-type(6) {
        grid-column: 2 / 4;
        padding-right: 480px;

        background-image: url("../img/img7.png");
        background-position: right center;

        @include w1392 {
          grid-column: auto;
          padding-right: 30px;
        }

        @include w600 {
          padding-right: 20px;
        }
      }
    }

    .services-list__title {
      font-family: $font-1;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: #222222;

      @include w768 {
        font-size: 21px;
      }
    }

    .services-list__txt {
      margin-top: 10px;

      font-family: $font-2;
      font-size: 16px;
      line-height: 25px;
      color: #313031;
    }
  }

  .btns-wrapper {
    display: none;
    align-items: center;
    gap: 20px;
    margin-top: 60px;

    @include w600 {
      display: flex;
    }

    .services-slider-button-prev {
      position: relative;

      width: 65px;
      height: 65px;

      border: 1px solid #1685FC;
      border-radius: 50%;
      background-color: #1685FC;

      transition: 0.3s;

      @include w768 {
        width: 46px;
        height: 46px;
      }

      // &:hover {
      //   background: #1685FC;

      //   &::before {
      //     background-image: url("../img/arrow1.svg");
      //   }
      // }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 21px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../img/arrow1.svg");

        transform: translate(-50%, -50%);
        transition: 0.3s;

        @include w768 {
          width: 10px;
          height: 15px;
        }
      }
    }

    .services-slider-button-next {
      position: relative;

      width: 65px;
      height: 65px;

      border: 1px solid #1685FC;
      border-radius: 50%;
      background-color: #1685FC;

      transition: 0.3s;

      @include w768 {
        width: 46px;
        height: 46px;
      }

      // &:hover {
      //   background: #1685FC;

      //   &::before {
      //     background-image: url("../img/arrow1.svg");
      //   }
      // }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 21px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../img/arrow1.svg");

        transform: translate(-50%, -50%) rotate(180deg);

        @include w768 {
          width: 10px;
          height: 15px;
        }
      }
    }

    .swiper-button-disabled {
      background-color: transparent;

      &::before {
        background-image: url("../img/arrow2.svg");
      }
    }
  }
}
