.top {
  position: relative;
  z-index: 10;

  padding-top: 235px;
  padding-bottom: 195px;

  background-position: center;
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  @include w768 {
    padding-top: 400px;
    padding-bottom: 30px;

    background-image: url("../img/top-bg-mob.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 167px;

    background: linear-gradient(180deg, #E1E3EA 0%, rgba(225, 227, 234, 0) 100%);
    transform: rotate(-180deg);

    @include w768 {
      height: 29px;

      background: #FFFFFF;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -20;

    width: 646px;
    height: 688px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/img.png");
    background-size: contain;

    transform: translateX(-50%);

    @include w768 {
      bottom: calc(100% - 390px);

      width: 351px;
      height: 374px;

      background-image: url("../img/img13.png");
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include w768 {
      flex-direction: column;
    }
  }

  .txt-col {
    max-width: 550px;

    @include w768 {
      max-width: none;
    }

    .top__title {
      font-family: $font-1;
      font-weight: 700;
      font-size: 63.0266px;
      line-height: 64px;
      letter-spacing: -0.887698px;
      color: #222222;

      @include w768 {
        font-size: 38px;
        line-height: 41px;
        text-align: center;
        letter-spacing: -0.573708px;
      }
    }

    .top__txt {
      margin-top: 30px;

      font-family: $font-2;
      font-weight: 300;
      font-size: 21px;
      line-height: 35px;
      color: #313031;

      @include w768 {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 360px;
    margin-right: 50px;

    @include w1392 {
      margin-right: 0;
    }

    @include w768 {
      margin-top: 40px;
      max-width: none;
    }

    .advantages-list__item {
      display: grid;
      grid-template-columns: 86px 1fr;
      gap: 6px 30px;

      @include w768 {
        grid-template-columns: 76px 1fr;
      }

      &:nth-of-type(1) {

        .img-wrapper {

          img {
            width: 45px;
            height: 45px;
          }
        }
      }

      &:nth-of-type(2) {

        .img-wrapper {

          img {
            width: 42px;
            height: 42px;
          }
        }
      }

      &:nth-of-type(3) {

        .img-wrapper {

          img {
            width: 28px;
            height: 33px;
            margin-left: 3px;
          }
        }
      }
    }

    .img-wrapper {
      width: 86px;
      height: 86px;
      grid-row: 1 / 3;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;

      background: #F2F2F2;
      box-shadow: 0px 21px 8px rgba(125, 125, 125, 0.03), 0px 12px 7px rgba(125, 125, 125, 0.1), 0px 5px 5px rgba(125, 125, 125, 0.17), 0px 1px 3px rgba(125, 125, 125, 0.2), 0px 0px 0px rgba(125, 125, 125, 0.2), inset 0px 4px 10px #FFFFFF;
      border-radius: 50%;

      overflow: hidden;

      @include w768 {
        width: 76px;
        height: 76px;
      }

      img {
        object-fit: contain;
      }
    }

    .advantages-list__title {
      font-family: $font-1;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #222222;

      @include w768 {
        font-size: 18px;
      }
    }

    .advantages-list__txt {
      font-family: $font-2;
      font-size: 16px;
      line-height: 25px;
      color: #313031;
    }
  }

  .btns-wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;

    &.btns-wrapper--desktop {

      @include w768 {
        display: none;
      }
    }

    &.btns-wrapper--mobile {
      display: none;

      @include w768 {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        gap: 10px;
      }
    }

    .top__btn {
      color: #FBFBFD;

      background: #F05C28;
    }

    .prices-link {
      color: #2B2B2B;

      span {
        position: relative;

        display: block;
        padding-right: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;

          width: 14px;
          height: 8px;

          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../img/arrow.svg");
          background-size: contain;

          transform: translateY(-50%);
        }
      }
    }
  }
}
