.clients {
  padding-top: 160px;
  padding-bottom: 130px;

  overflow: hidden;

  @include w1072 {
    padding-bottom: 170px;
  }

  @include w768 {
    padding: 60px 0 150px;
  }

  .title-wrapper {
    display: flex;

    @include w992 {
      flex-direction: column;
      gap: 30px;
    }

    @include w768 {
      gap: 10px;
    }

    .title-h2 {
      width: 230px;

      color: #090207;

      @include w768 {
        color: #7D7D7D;
      }
    }
  }

  .clients-slider {
    position: relative;

    margin-top: 110px;

    @include w768 {
      margin-top: 40px;
    }
  }

  .clients-list {
    display: flex;

    .clients-list__item {
      position: relative;

      width: 770px;
      height: 400px;
      padding: 50px;
      display: grid;
      grid-template-columns: 120px 1fr;
      gap: 30px;

      background: #F5F5F5;
      box-shadow: 0px 88px 35px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.05), 0px 22px 22px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      @include w1072 {
        width: 100%;
      }

      @include w768 {
        padding: 40px 20px;
        height: auto;
        grid-template-columns: 1fr;
        gap: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 40px;
        right: 30px;

        width: 97px;
        height: 26px;

        background-size: contain;
        background-image: url("../img/logo1.svg");
        background-repeat: no-repeat;
        background-position: center;

        @include w768 {
          top: 20px;
          right: 15px;

          width: 64px;
          height: 18px;
        }
      }
    }

    .img-wrapper {
      width: 120px;
      height: 120px;

      border-radius: 50%;

      overflow: hidden;

      @include w768 {
        width: 130px;
        height: 130px;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .client-list__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include w768 {
        margin-top: 10px;
      }
    }

    .clients-list__name {
      font-family: $font-1;
      font-weight: 700;
      font-size: 25.831px;
      line-height: 31px;
      color: #222222;

      @include w768 {
        font-size: 21px;
        line-height: 31px;
      }
    }

    .clients-list__whois {
      font-family: $font-2;
      font-size: 14px;
      line-height: 35px;
      color: #313031;

      @include w768 {
        color: #8C8C8C;
      }
    }

    .clients-list__txt {
      grid-column: 1 / 3;

      font-family: $font-2;
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      color: #313031;

      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;

      overflow: hidden;

      @include w768 {
        grid-column: auto;
        margin-top: 20px;

        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        -webkit-line-clamp: 7;
      }
    }
  }

  .btns-wrapper {
    position: absolute;
    bottom: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 860px;

    transform: translate(-50%, 50%);

    @include w1072 {
      bottom: -95px;

      gap: 65px;

      transform: translateX(-50%);
    }

    @include w768 {
      bottom: -75px;

      gap: 20px;
    }

    .clients-slider-button-prev {
      position: relative;

      width: 65px;
      height: 65px;

      border: 1px solid #1685FC;
      border-radius: 50%;

      transition: 0.3s;

      @include w768 {
        width: 46px;
        height: 46px;
      }

      &:hover {
        background: #1685FC;

        &::before {
          background-image: url("../img/arrow1.svg");
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 21px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../img/arrow2.svg");

        transform: translate(-50%, -50%);
        transition: 0.3s;

        @include w768 {
          width: 10px;
          height: 15px;
        }
      }
    }

    .clients-slider-button-next {
      position: relative;

      width: 65px;
      height: 65px;

      border: 1px solid #1685FC;
      border-radius: 50%;

      transition: 0.3s;

      @include w768 {
        width: 46px;
        height: 46px;
      }

      &:hover {
        background: #1685FC;

        &::before {
          background-image: url("../img/arrow1.svg");
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 21px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../img/arrow2.svg");

        transform: translate(-50%, -50%) rotate(180deg);

        @include w768 {
          width: 10px;
          height: 15px;
        }
      }
    }
  }
}
